@import "bootstrap";

.event-show-container {
}

.contact-btn-wrapper {
  padding-top: 80px;
  padding-left: 50px;
  vertical-align: bottom;
}
.btn-primary-1 {

}

#guest-form span {
  font-size: 150%;

}#guest-form {
  padding-top: 20px;
}

#show-info {
  font-size: 150%;
}

.event-show-container {
  border-radius: .25rem;
}



