@import "bootstrap";


.contact-btn-wrapper {
  padding-top: 80px;
  padding-left: 50px;
  vertical-align: bottom;

}

.btn-primary-1 {
  background-color: #00b675;
  color: white;
  padding-right: 20px;

}

#guest-form span {
  font-size: 150%;
}

#guest-form {
  padding-top: 20px;
  padding-right: 20px;
}

#show-info {
  font-size: 150%;
}

.event-show-container {
  border-radius: .50rem;
}

.show-row {
  background-color: white;
}



